.jumbotron{
    padding: 0px;
    margin-bottom: 14px;
    margin-top:0px;
}
footer {
    background-color: #555;
    color: white;
    padding: 15px;
    position: absolute;
    bottom:0px;
  }
.list-group{
    text-align: left;
   }
.badge{
    float:right;
}
.badge-error {
    background-color: rgb(245, 70, 70);
    color: white;
  }