body{
    background-image: url(../images/nfl.jpg);
}
.jumbotron{
    padding: 0px;
    margin-bottom: 14px;
    margin-top:0px;
    text-align: center;
}
footer {
    background-color: #e9ecef;
    color: black;
    padding: 15px;
    position: absolute;
    bottom:0px;
  }
.list-group{
    text-align: left;
   }
.badge{
    float:right;
}
.badge-error {
    background-color: rgb(245, 70, 70);
    color: white;
  }
  #guessArea{
      background-color: white;
  }
  #clueBox{
    background-color: white;
}
 